<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ge_health_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 127}</string>
			<key>spriteSourceSize</key>
			<string>{160, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{279, 642}, {160, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ge_health_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 127}</string>
			<key>spriteSourceSize</key>
			<string>{160, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 129}, {160, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ge_health_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 127}</string>
			<key>spriteSourceSize</key>
			<string>{160, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 258}, {160, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ge_heart_blue_OVER.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 38}</string>
			<key>spriteSourceSize</key>
			<string>{45, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 428}, {45, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ge_heart_blue_UP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 38}</string>
			<key>spriteSourceSize</key>
			<string>{45, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 258}, {45, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ge_heart_red_OVER.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 38}</string>
			<key>spriteSourceSize</key>
			<string>{45, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{512, 258}, {45, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ge_heart_red_UP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 38}</string>
			<key>spriteSourceSize</key>
			<string>{45, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 258}, {45, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ge_heart_yellow_OVER.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 38}</string>
			<key>spriteSourceSize</key>
			<string>{45, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{465, 258}, {45, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ge_heart_yellow_UP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 38}</string>
			<key>spriteSourceSize</key>
			<string>{45, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{371, 258}, {45, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ge_noise_belt_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 150}</string>
			<key>spriteSourceSize</key>
			<string>{160, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 546}, {160, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ge_noise_belt_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 150}</string>
			<key>spriteSourceSize</key>
			<string>{160, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 394}, {160, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ge_noise_belt_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 150}</string>
			<key>spriteSourceSize</key>
			<string>{160, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 242}, {160, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ge_noise_belt_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 150}</string>
			<key>spriteSourceSize</key>
			<string>{160, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 698}, {160, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ge_particles.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{21, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 349}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_credits.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 56}, {136, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{136, 132}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 850}, {136, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_credits_button_OVER.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 21}</string>
			<key>spriteSourceSize</key>
			<string>{100, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 351}, {100, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_credits_button_UP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 23}</string>
			<key>spriteSourceSize</key>
			<string>{100, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 301}, {100, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_font_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {10, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{10, 10}</string>
			<key>spriteSourceSize</key>
			<string>{10, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 373}, {10, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_font_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {4, 10}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{4, 10}</string>
			<key>spriteSourceSize</key>
			<string>{10, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 1085}, {4, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_font_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {10, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{10, 10}</string>
			<key>spriteSourceSize</key>
			<string>{10, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 384}, {10, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_font_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {10, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{10, 10}</string>
			<key>spriteSourceSize</key>
			<string>{10, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 384}, {10, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_font_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {10, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{10, 10}</string>
			<key>spriteSourceSize</key>
			<string>{10, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 361}, {10, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_font_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {10, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{10, 10}</string>
			<key>spriteSourceSize</key>
			<string>{10, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 372}, {10, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_font_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {10, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{10, 10}</string>
			<key>spriteSourceSize</key>
			<string>{10, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 349}, {10, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_font_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {10, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{10, 10}</string>
			<key>spriteSourceSize</key>
			<string>{10, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 372}, {10, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_font_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {10, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{10, 10}</string>
			<key>spriteSourceSize</key>
			<string>{10, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 385}, {10, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_font_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {10, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{10, 10}</string>
			<key>spriteSourceSize</key>
			<string>{10, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 1085}, {10, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_help.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {142, 210}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{142, 210}</string>
			<key>spriteSourceSize</key>
			<string>{142, 210}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 301}, {142, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_help_button_OVER.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 21}</string>
			<key>spriteSourceSize</key>
			<string>{32, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 326}, {32, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_help_button_UP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 23}</string>
			<key>spriteSourceSize</key>
			<string>{32, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 301}, {32, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_mainmenu_bkg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 240}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 850}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_retry_OVER.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 240}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_retry_UP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 240}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 0}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_start_button_OVER.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 21}</string>
			<key>spriteSourceSize</key>
			<string>{100, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 374}, {100, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gui_start_button_UP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 23}</string>
			<key>spriteSourceSize</key>
			<string>{100, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 326}, {100, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_alien_bkg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 127}</string>
			<key>spriteSourceSize</key>
			<string>{160, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{648, 129}, {160, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_alien_idle_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 127}</string>
			<key>spriteSourceSize</key>
			<string>{160, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{648, 0}, {160, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_alien_idle_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 127}</string>
			<key>spriteSourceSize</key>
			<string>{160, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 0}, {160, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_alien_idle_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 127}</string>
			<key>spriteSourceSize</key>
			<string>{160, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 298}, {160, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_alien_idle_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 127}</string>
			<key>spriteSourceSize</key>
			<string>{160, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{462, 466}, {160, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_alien_idle_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 127}</string>
			<key>spriteSourceSize</key>
			<string>{160, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{462, 595}, {160, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_alien_screaming_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 127}</string>
			<key>spriteSourceSize</key>
			<string>{160, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 0}, {160, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_alien_screaming_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 127}</string>
			<key>spriteSourceSize</key>
			<string>{160, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 129}, {160, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_aline_screens_idle_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 127}</string>
			<key>spriteSourceSize</key>
			<string>{160, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{441, 724}, {160, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_aline_screens_idle_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 127}</string>
			<key>spriteSourceSize</key>
			<string>{160, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{603, 724}, {160, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_aline_screens_idle_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 127}</string>
			<key>spriteSourceSize</key>
			<string>{160, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{660, 387}, {160, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_aline_screens_idle_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 127}</string>
			<key>spriteSourceSize</key>
			<string>{160, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 513}, {160, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_screens_white.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 13}, {160, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 29}</string>
			<key>spriteSize</key>
			<string>{160, 43}</string>
			<key>spriteSourceSize</key>
			<string>{160, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 242}, {160, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 27}</string>
			<key>spriteSourceSize</key>
			<string>{86, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 490}, {86, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_explode_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 27}</string>
			<key>spriteSourceSize</key>
			<string>{40, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 397}, {40, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_explode_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 29}</string>
			<key>spriteSourceSize</key>
			<string>{43, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 548}, {43, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_explode_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 37}</string>
			<key>spriteSourceSize</key>
			<string>{52, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 427}, {52, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_explode_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 37}</string>
			<key>spriteSourceSize</key>
			<string>{55, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{559, 258}, {55, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_explode_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 37}</string>
			<key>spriteSourceSize</key>
			<string>{55, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 614}, {55, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_explode_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 37}</string>
			<key>spriteSourceSize</key>
			<string>{58, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 614}, {58, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_explode_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{59, 33}</string>
			<key>spriteSourceSize</key>
			<string>{59, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 579}, {59, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_shake_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 5}, {46, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 27}</string>
			<key>spriteSourceSize</key>
			<string>{96, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 490}, {46, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_shake_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 3}, {52, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{52, 33}</string>
			<key>spriteSourceSize</key>
			<string>{96, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{223, 579}, {52, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_shake_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 6}, {40, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{40, 31}</string>
			<key>spriteSourceSize</key>
			<string>{96, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{540, 427}, {40, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_shake_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 4}, {40, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{40, 33}</string>
			<key>spriteSourceSize</key>
			<string>{96, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 422}, {40, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_shake_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 3}, {40, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{40, 33}</string>
			<key>spriteSourceSize</key>
			<string>{96, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 427}, {40, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_shake_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 4}, {40, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{40, 27}</string>
			<key>spriteSourceSize</key>
			<string>{96, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 519}, {40, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_shake_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 3}, {52, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{52, 33}</string>
			<key>spriteSourceSize</key>
			<string>{96, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 387}, {52, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_shake_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 5}, {64, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{64, 29}</string>
			<key>spriteSourceSize</key>
			<string>{96, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 548}, {64, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_still_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {86, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 27}</string>
			<key>spriteSourceSize</key>
			<string>{96, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 519}, {86, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_still_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {88, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 27}</string>
			<key>spriteSourceSize</key>
			<string>{96, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 461}, {88, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_still_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {92, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{92, 29}</string>
			<key>spriteSourceSize</key>
			<string>{96, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 397}, {92, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_ship_still_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {88, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{88, 31}</string>
			<key>spriteSourceSize</key>
			<string>{96, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 428}, {88, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_stars_pattern_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 9}, {134, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{134, 99}</string>
			<key>spriteSourceSize</key>
			<string>{160, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 984}, {134, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_stars_pattern_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 7}, {154, 91}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{154, 91}</string>
			<key>spriteSourceSize</key>
			<string>{160, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{810, 111}, {154, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scenario_stars_pattern_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {152, 109}}</string>
			<key>spriteOffset</key>
			<string>{1, 4}</string>
			<key>spriteSize</key>
			<string>{152, 109}</string>
			<key>spriteSourceSize</key>
			<string>{160, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{810, 0}, {152, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stripe.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 12}</string>
			<key>spriteSourceSize</key>
			<string>{160, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 287}, {160, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world03_bloc_01_150.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {116, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 114}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1085}, {116, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>atlas.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>atlas</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>atlas</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>